<div class="panel panel-default">
  <div class="panel-body">
    <a href="/admin_movies/new">添加电影</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/admin_movies/is_not_all">待补完整的电视</a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#ID</th>
      <th>名称</th>
      <th>类型</th>
      <th>标签</th>
      <th>集数</th>
      <th>地区</th>
      <th>评分</th>
      <th>上映时间</th>
      <th>排行</th>
      <th>上传时间</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @movies.present? %>
        <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.id %></td>
              <td><%= movie.name %></td>
              <td><%= movie.movie_type %></td>
              <td><%= movie.movie_tag %></td>
              <td><%= movie.number %></td>
              <td><%= movie.region %></td>
              <td><%= movie.grade %></td>
              <td><%= movie.show_time.present? ? movie.show_time.strftime('%Y-%m-%d') : '暂无' %></td>
              <td><%= movie.sort %></td>
              <td><%= movie.created_at.strftime('%Y-%m-%d %H:%m') %></td>
              <td><a href="/admin_movies/<%= movie.id%>">详情</a>
                <a href="/admin_movies/<%= movie.id%>/edit">修改</a>
                <a href="javascript:void(0)" onclick="deleteMovie(<%= movie.id%>,'<%= movie.name%>')">删除</a>
              </td>
            </tr>
        <% end %>

    <% end %>
    </tbody>
  </table>
</div>
<div class="flickr_pagination">
  <%= will_paginate @movies, :container => false,:previous_label => t("上一页"), :next_label => t("下一页") %>
</div>
<%= render partial: 'admin_movies/movie_modal'%>
