<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_movie_modal">
      添加电影
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>电影ID</th>
      <th>名称</th>
      <th>类型</th>
      <th>标签</th>
      <th>集数</th>
      <th>地区</th>
      <th>评分</th>
      <th>上映时间</th>
      <th>排行</th>
      <th>上传时间</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @movies.present? %>
        <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.id %></td>
              <td><%= movie.name %></td>
              <td><%= movie.movie_type %></td>
              <td><%= movie.movie_tag %></td>
              <td><%= movie.number %></td>
              <td><%= movie.region %></td>
              <td><%= movie.grade %></td>
              <td><%= movie.show_time.present? ? movie.show_time.strftime('%Y-%m-%d') : '暂无' %></td>
              <td><%= movie.sort %></td>
              <td><%= movie.created_at.strftime('%Y-%m-%d %H:%m') %></td>
              <td><a href="/admin_movies/<%= movie.id%>">详情</a> 修改 删除</td>
            </tr>
        <% end %>

    <% end %>
    </tbody>
  </table>
</div>

<%= render partial: 'admin_movies/movie_modal'%>