<ul class="media-list">
  <li class="media">
    <div class="media-left movie_show_a ">
      <img src="<%= @movie.image_url %>" alt="<%= @movie.name %>" height="300" width="250" class='movie_show_img'>
    </div>

    <div class="media-body">
      <h3 class="media-heading"><%= @movie.name %></h3>

      <p></p>

      <p><strong>上映：</strong>
        <% if @movie.show_time.present? %>
            <%= @movie.show_time.strftime('%Y') %>
        <% end %>
      </p>

      <p><strong>类型：</strong><%= @movie.movie_tag %></p>

      <p><strong>主演：</strong><%= @movie.actors %></p>

      <p><strong>地区：</strong><%= @movie.region %></p>

      <p><strong>更新日期：</strong>
        <% if @movie.created_at.present? %>
            <%= @movie.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        <% end %>

      </p>

      <p><strong>影片评分：</strong><%= @movie.grade %></p>
    </div>
  </li>

  <hr>
  <p><strong>影片简介：</strong></p>

  <p><%= @movie.abstract %></p>

</ul>

<% if !@movie.movie_details.empty? %>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">资源下载地址1</div>

      <!-- List group -->
      <ul class="list-group">
        <% @movie.movie_details.each do |movie_detail| %>
            <% if movie_detail.url.present? %>
                <li class="list-group-item">
                  <a href="<%= movie_detail.url %>">
                    <%= movie_detail.name %>
                    <% if @movie.movie_type != '电影' %>
                        第<%= movie_detail.episode %>集
                    <% end %>
                    下载---右键复制链接迅雷下载</a>
                </li>
            <% end %>

        <% end %>

      </ul>


    </div>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">资源下载地址2</div>

      <!-- List group -->
      <ul class="list-group">
        <% @movie.movie_details.each do |movie_detail| %>
            <% if movie_detail.url2.present? %>
                <li class="list-group-item">
                  <a href="<%= movie_detail.url2 %>">
                    <%= movie_detail.name2 %>
                    <% if @movie.movie_type != '电影' %>
                        第<%= movie_detail.episode %>集
                    <% end %>
                    下载---右键复制链接迅雷下载</a>
                </li>
            <% end %>
        <% end %>

      </ul>


    </div>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">网盘下载</div>

      <!-- List group -->
      <ul class="list-group">
        <% @movie.movie_details.each do |movie_detail| %>
            <% if movie_detail.wangpan_url.present? %>
                <li class="list-group-item">
                  <a href="<%= movie_detail.wangpan_url %>" target="_blank">
                    <%= movie_detail.name %>点击下载</a>
                  密码：<%= movie_detail.wangpan_password %>
                </li>
            <% end %>
        <% end %>

      </ul>


    </div>

<% end %>


<!--电影评论富文本-->
<%= render partial: 'movies/movie_comment_editor' %>

<!--电影评论条数-->
<%= render partial: 'movies/movie_comments_list' %>




