<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">修改</h3>
  </div>
  <div class="panel-body">
    <form action="/admin_tags/update" method="post">
      <div class="modal-body">

        <input class="form-control" type="hidden" name="id"  placeholder="名称" value="<%= @tag.id %>">

        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">名称</label>

          <div class="col-xs-10">
            <input class="form-control" type="text" name="name" id="update_tag_name" placeholder="名称" value="<%= @tag.name %>">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">是否禁用</label>
          <label class="radio-inline">
            <% if @tag.is_disabled? %>
                <input type="radio" name="is_disabled"  checked value=true> 禁用
            <% else %>
                <input type="radio" name="is_disabled" value=true> 禁用
            <% end %>

          </label>

          <label class="radio-inline">
            <% if !@tag.is_disabled? %>
                <input type="radio" name="is_disabled" checked value=false> 正常
            <% else %>
                <input type="radio" name="is_disabled" value=false> 正常
            <% end %>

          </label>
        </div>


        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">url</label>

          <div class="col-xs-10">
            <input class="form-control" type="text" name="url" id="add_tag_url" placeholder="如果为menu类型,则需要填写url" value="<%= @tag.url %>">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">标签类型</label>

          <div class="col-xs-10">
            <input class="form-control" type="text" name="tag_type" id="add_tag_type" placeholder="标签类型" value="<%= @tag.tag_type %>">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-xs-2 col-form-label">标签排行</label>

          <div class="col-xs-10">
            <input class="form-control" type="text" name="sort" id="add_sort" placeholder="标签排行" value="<%= @tag.sort %>">
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="pageRefresh()">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </form>
  </div>
</div>