<div class="panel panel-default">
  <div class="panel-body">
    <a href="/admin_tags/new">添加标签</a>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#ID</th>
      <th>名称</th>
      <th>标签类型</th>
      <th>是否禁用</th>
      <th>url</th>
      <th>排行</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% if @tags.present? %>
        <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.id %></td>
              <td><%= tag.name %></td>
              <td><%= tag.tag_type %></td>
              <td><%= tag.is_disabled? %></td>
              <td><%= tag.url %></td>
              <td><%= tag.sort %></td>
              <td><%= tag.created_at.present? ? tag.created_at.strftime('%Y-%m-%d %H:%m') : '' %></td>
              <td>
                <a href="/admin_tags/<%= tag.id%>/edit">修改</a>
                <a href="javascript:void(0)" onclick="deleteTag(<%=tag.id%>,'<%= tag.name%>')">删除</a>
              </td>
            </tr>
        <% end %>

    <% end %>
    </tbody>
  </table>
</div>
<div class="flickr_pagination">
  <%= will_paginate @tags, :container => false,:previous_label => t("上一页"), :next_label => t("下一页") %>
</div>

<%= render partial: 'admin_tags/tag_modal'%>
