<title><%= @layout_title%></title>
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="description" content="扒拉我（www.balawo.com）最新海量免费电影下载，IT技术视频下载，IT技术博客，独特的新闻视角呈现世界。" />
<meta name="Keywords" content="电影，新闻，扒拉我，免费下载，迅雷免费下载，博客，IT技术视频" />
<%= favicon_link_tag 'balawo-icon.png'%>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= render partial: 'shared/baidu_tongji'%>
<%= csrf_meta_tags %>
