<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="home_region_tags">
            地区:
            <% @movie_regions.each do |movie_region|%>
                <a href="/movies/get_movies?region=<%= movie_region.name%>"><%= movie_region.name%></a>
            <%end%>

          </div>

          <div class="home_dy1_tags">
            类型:
            <% @movie_tags.each do |movie_tag|%>
                <a href="/movies/get_movies?movie_tag=<%= movie_tag.name%>" ><%= movie_tag.name%></a>
            <%end%>
          </div>
        </div>

      </div>
      <%= yield %>
    </div><!--/span-->


    <!-- 菜单-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <% @movie_types.each do |movie_type|%>
            <a href="/movies/get_movies?movie_type=<%= movie_type.name%>" class="list-group-item"><%= movie_type.name%></a>
        <%end%>

      </div>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>balawo.com</p>
  </footer>

</div><!--/.container-->