<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="home_region_tags">
            地区:
            <% @movie_regions.each do |movie_region| %>
                <% if movie_region.name == @selected_region %>
                    <a href="/movies/get_movies?region=<%= movie_region.name %>&&movie_tag=<%= @selected_movie_tag %>&&movie_type=<%= @selected_movie_type %>">
                      <span class="label label-primary"><%= movie_region.name %></span>
                    </a>
                <% else %>
                    <a href="/movies/get_movies?region=<%= movie_region.name %>&&movie_tag=<%= @selected_movie_tag %>&&movie_type=<%= @selected_movie_type %>">
                      <%= movie_region.name %>
                    </a>
                <% end %>
            <% end %>

          </div>

          <div class="home_dy1_tags">
            类型:
            <% @movie_tags.each do |movie_tag| %>
                <% if movie_tag.name == @selected_movie_tag %>
                    <a href="/movies/get_movies?region=<%= @selected_region %>&&movie_type=<%= @selected_movie_type %>&&movie_tag=<%= movie_tag.name %>" class="active">
                      <span class="label label-primary"><%= movie_tag.name %></span>
                    </a>
                <% else %>
                    <a href="/movies/get_movies?region=<%= @selected_region %>&&movie_type=<%= @selected_movie_type %>&&movie_tag=<%= movie_tag.name %>" class="active"><%= movie_tag.name %></a>
                <% end %>

            <% end %>
          </div>
        </div>

      </div>
      <%= yield %>
    </div>
    <!--/span-->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group ">
        <% @movie_types.each do |movie_type| %>
            <% if movie_type.name == @selected_movie_type %>
                <a href="<%= movie_type.url %>?region=<%= @selected_region %>&&movie_type=<%= movie_type.name %>&&movie_tag=<%= @selected_movie_tag %> " class="list-group-item active"><%= movie_type.name %></a>
            <% else %>
                <a href="<%= movie_type.url %>?region=<%= @selected_region %>&&movie_type=<%= movie_type.name %>&&movie_tag=<%= @selected_movie_tag %>" class="list-group-item"><%= movie_type.name %></a>
            <% end %>

        <% end %>

      </div>
    </div>


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group ">
        <li class="list-group-item active">最新电影</li>
        <% @movies_newest.each do |movie_new| %>
            <li class="list-group-item"><a href="/movies/<%=movie_new.id %>"><%= movie_new.created_at.strftime('%Y-%m-%d')%>*<%= movie_new.name%></a></li>
        <% end %>
      </div>
    </div>

  </div>

  <hr>

  <footer>
    <p>balawo.com</p>
  </footer>

</div><!--/.container-->