<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <ul class="book-nav-menus">
      <% @menus.each do |menu| %>
          <li>
            <a href="<%= menu[:url] %>"><%= menu[:name] %></a>
            <% if menu[:children].present? %>
                <ul>
                  <% menu[:children].each do |sub_menu| %>
                      <li>
                        <a href="<%= sub_menu[:url] %>"><%= sub_menu[:name] %></a>
                        <% if sub_menu[:children].present? %>

                            <ul>
                              <% sub_menu[:children].each do |sub2_menu| %>
                                  <li>
                                    <a href="<%= sub2_menu[:url] %>"><%= sub2_menu[:name] %></a>
                                  </li>
                              <% end %>
                            </ul>
                        <% end %>
                      </li>
                  <% end %>
                </ul>

            <% end %>
          </li>
      <% end %>

    </ul>

  </ul>

</div>