<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <ul class="book-nav-menus">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="addBookMenu(0,'b0001')">
        添加一级标题
      </button>
      <% @book_menus.each do |menu| %>
          <li class="admin_book_menu_li">
            <% if menu[:is_disabled] %>
                <a href="<%= menu[:url] %>" style="color: red"><%= menu[:name] %> </a>
            <% else %>
                <a href="<%= menu[:url] %>" style="color: black"><%= menu[:name] %> </a>

            <% end %>
            （<a href="javascript:void(0)" class="book_menu_crud" onclick="addBookMenu(<%= menu[:id]%>,'<%= menu[:book_type]%>')">添加</a>
            / <a href="javascript:void(0)" class="book_menu_crud" onclick="updateBookMenu(<%= menu.to_json %>)">修改</a>
            / <a href="javascript:void(0)" class="book_menu_crud" onclick="deleteBookMenu(<%= menu[:id]%>,'<%= menu[:name]%>')">删除</a>）
            <% if menu[:children].present? %>
                <ul>
                  <% menu[:children].each do |sub_menu| %>
                      <li class="admin_book_menu_li">
                        <% if sub_menu[:is_disabled] %>
                            <a href="<%= sub_menu[:url] %>" style="color: red"><%= sub_menu[:name] %></a>
                        <% else %>
                            <a href="<%= sub_menu[:url] %>"><%= sub_menu[:name] %></a>
                        <% end %>
                        （<a href="javascript:void(0)" class="book_menu_crud" onclick="addBookMenu(<%= sub_menu[:id]%>)">添加</a> /
                        <a href="javascript:void(0)"  class="book_menu_crud" onclick="updateBookMenu(<%= sub_menu.to_json %>)">修改</a>
                        / <a href="javascript:void(0)" class="book_menu_crud" onclick="deleteBookMenu(<%= sub_menu[:id]%>,'<%= sub_menu[:name]%>') ">删除</a>）
                        <% if sub_menu[:children].present? %>

                            <ul>
                              <% sub_menu[:children].each do |sub2_menu| %>
                                  <li class="admin_book_menu_li">
                                    <% if sub2_menu[:is_disabled] == true %>
                                        <a href="<%= sub2_menu[:url] %>" style="color: red"><%= sub2_menu[:name] %></a>
                                    <% else %>
                                        <a href="<%= sub2_menu[:url] %>"><%= sub2_menu[:name] %></a>
                                    <% end %>
                                    （<a href="javascript:void(0)" class="book_menu_crud" onclick="updateBookMenu(<%= sub2_menu.to_json %>)">修改</a>
                                    /
                                    <a href="javascript:void(0)" class="book_menu_crud" onclick="deleteBookMenu(<%= sub2_menu[:id]%>,'<%= sub2_menu[:name]%>') ">删除</a>）
                                  </li>
                              <% end %>
                            </ul>
                        <% end %>
                      </li>
                  <% end %>
                </ul>

            <% end %>
          </li>
      <% end %>

    </ul>

  </ul>

</div>
<%= render partial: 'admin_books/book_menu_modal' %>
