<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">添加</h3>
  </div>
  <div class="panel-body">
    <%= form_for @admin_news,url: '/admin_news/update' do |f| %>
        <%= f.hidden_field :id%>
        标题:<%= f.text_area :title,:rows=>3, :cols=>80%><br/>
        作者:<%= f.text_field :author%><br/>
        概要:<%= f.text_area :abstract,:rows=>5, :cols=>80 %><br/>
        内容:<%= f.text_area :content,id:'news_content'  %>
        <%= f.submit '提交'%>
    <% end %>
  </div>
</div>