<!DOCTYPE html>
<html>
<head>
  <title>扒拉我-admin</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin_application', 'data-turbolinks-track': 'reload' %>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

</head>

<body>
<%= render partial: 'shared/admin_nav' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'shared/admin_menu' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>





