<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/head'%>
</head>

<body>
<%= render partial: 'shared/home_nav' %>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <%= yield %>
    </div>
    <%= render partial: 'news/news_list_right' %>
  </div><!-- /.row -->

  <%= render partial: 'shared/footer' %>
  </div>


</div><!--container-->
<%= render partial: 'shared/ad'%>
</body>
</html>






